@charset "UTF-8";
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.mainmax {
  width: 80%;
  height: 100%;
}

.navtop {
  width: 100%;
  height: 12%;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navtop .usernavmax {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  position: relative;
  background-image: url("../img/登录.png");
  background-repeat: no-repeat;
  background-position: center;
  -o-background-size: 30px;
     background-size: 30px;
}

.usernav {
  width: 72px;
  height: 50px;
  position: absolute;
  z-index: 999;
  top: 65px;
  cursor: pointer;
  text-align: center;
  display: none;
}

.navmax {
  width: 20%;
  height: 100%;
  background-color: #deffe9;
}
.navmax div {
  height: 50px;
  font-size: 20px;
  color: #bfcbd9;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#order {
  color: #3a67b3;
}

.ordermax {
  position: relative;
  width: 100%;
  height: 88%;
  display: block;
}

.foodmax {
  position: relative;
  width: 100%;
  height: 88%;
  display: none;
}

.Usersmax {
  position: relative;
  width: 100%;
  height: 88%;
  display: none;
}

.usermax {
  position: relative;
  width: 100%;
  height: 88%;
  display: none;
}
.usermax .usermainmax {
  padding: 50px 80px;
  height: auto;
  width: 300px;
  margin: auto;
  background-color: #c8e0e4;
}
.usermax .usermainmax .usertitle {
  font-weight: bold;
  padding-left: 30px;
  border-bottom: black 1px dashed;
}

.us {
  padding-left: 50px;
  border-bottom: black 1px dashed;
}

.age {
  padding-left: 50px;
  border-bottom: black 1px dashed;
}

.sex {
  padding-left: 50px;
  border-bottom: black 1px dashed;
}

.phone {
  padding-left: 50px;
  border-bottom: black 1px dashed;
}

.integral {
  padding-left: 50px;
  border-bottom: black 1px dashed;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #7db6bf;
}

td {
  background-color: #d5e9ed;
}

tr {
  text-align: center;
}

.foodtab {
  width: 100%;
}

h3 {
  margin: auto;
  color: darkcyan;
  font-size: 30px;
  width: 120px;
}

.foodmini {
  margin: auto;
  width: 60%;
}

.ordmini {
  margin: auto;
  width: 60%;
}

.uesmini {
  margin: auto;
  width: 60%;
}

.food-nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.order-nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

.ues-nav {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}

#up-food {
  background-image: url("../img/向左箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#up-order {
  background-image: url("../img/向左箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#up-ues {
  background-image: url("../img/向左箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#next-food {
  background-image: url("../img/向右箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#next-order {
  background-image: url("../img/向右箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#next-ues {
  background-image: url("../img/向右箭头.png");
  width: 18px;
  height: 20px;
  display: block;
  background-color: #fff;
  color: black;
  -o-background-size: cover;
     background-size: cover;
}

#total-food {
  color: black;
  text-align: center;
  display: inline-block;
}

.foodbtn {
  padding: 10px;
}

.foodbtn button {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.orderbtn {
  padding: 10px;
}

.orderbtn button {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.Usersbtn {
  padding: 10px;
}

.sacues {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.ordmainbtn button {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.mainbtn button {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.uesmainbtn button {
  font-size: 8px;
  line-height: 20px;
  color: #FFFFFF;
  border: none;
  border-radius: 22px;
  padding: 15px 20px 15px 20px;
  -o-background-size: 250%;
     background-size: 250%;
  background-image: -webkit-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -moz-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: -o-linear-gradient(127.76deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  background-image: linear-gradient(322.24deg, #6082B6, #D3CEFC 50%, #6082B6 75%);
  box-shadow: 0px 0px 20px #D3CEFC, 0px 5px 5px -1px #6082B6, inset 4px 4px 8px #D3CEFC, inset -4px -4px 8px #6082B6;
}

.foodaddmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.ordaddmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.foodsacmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.ordsacmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.uessacmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.rvsmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.ordrvsmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.uesrvsmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.userrvsmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.uesaddmax {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  display: none;
}

.resultmax {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  display: none;
}

.ordresultmax {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  display: none;
}

.uesresultmax {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  display: none;
}

.foodadd {
  width: 400px;
  height: 550px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.foodadd span {
  margin: auto;
  width: 100%;
}

.ordadd {
  width: 400px;
  height: 450px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.ordadd span {
  margin: auto;
  width: 100%;
}

.uesadd {
  width: 400px;
  height: 180px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.uesadd span {
  margin: auto;
  width: 100%;
}

.rvs {
  width: 400px;
  height: 550px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.rvs span {
  margin: auto;
  width: 100%;
}

.ordrvs {
  width: 400px;
  height: 450px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.ordrvs span {
  margin: auto;
  width: 100%;
}

.uesrvs {
  width: 400px;
  height: 380px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.uesrvs span {
  margin: auto;
  width: 100%;
}

.userrvs {
  width: 400px;
  height: 450px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.userrvs span {
  margin: auto;
  width: 100%;
}

.foodaddmain {
  margin: auto;
  width: 80%;
}

.ordaddmain {
  margin: auto;
  width: 80%;
}

.uesaddmain {
  margin: auto;
  width: 80%;
}

.rvsmain {
  margin: auto;
  width: 80%;
}

.ordrvsmain {
  margin: auto;
  width: 80%;
}

.uesrvsmain {
  margin: auto;
  width: 80%;
}

.userrvsmain {
  margin: auto;
  width: 80%;
}

.foodadd input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.ordadd input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.uesadd input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

button {
  border: none;
  outline: none;
}

.btn {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}
.btn button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-4 {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}
.btn-4 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-2 {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}
.btn-2 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-5 {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}
.btn-5 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-7 {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}
.btn-7 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.foodsac {
  width: 300px;
  height: 130px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.foodsac span {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.ordsac {
  width: 300px;
  height: 130px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.ordsac span {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.uessac {
  width: 300px;
  height: 130px;
  background: #eaf8f7;
  margin: auto;
  margin-top: 30px;
  padding-top: 20px;
}
.uessac span {
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.foodsacmain {
  margin: auto;
}

.ordsacmain {
  margin: auto;
}

.uessacmain {
  margin: auto;
}

.foodsacmain input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 92%;
  height: 50px;
}

.ordsacmain input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 92%;
  height: 50px;
}

.uessacmain input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 92%;
  height: 50px;
}

.result table {
  background-color: #fff;
  width: 60%;
  margin: auto;
}

.ordresult table {
  background-color: #fff;
  width: 60%;
  margin: auto;
}

.uesresult table {
  background-color: #fff;
  width: 60%;
  margin: auto;
}

.rvs input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.ordrvs input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.uesrvs input {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.userrvsipt {
  display: block;
  border: none;
  outline: none;
  margin: 10px;
  width: 95%;
  height: 50px;
}

.btn-3 {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.btn-3 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-6 {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.btn-6 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-8 {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.btn-8 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-9 {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.btn-9 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

.btn-10 {
  padding-top: 20px;
  width: 50%;
  margin: auto;
}
.btn-10 button {
  background-color: #53b5df;
  color: #fff;
  padding: 10px 20px;
}

td button {
  background-color: #c5d2d5;
}

.userbutton {
  background-color: #d72e2d;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  border-radius: 3px;
}

.usermain {
  width: 300px;
  margin: auto;
  padding: 20px 0;
}
.usermain div {
  padding-top: 15px;
  padding-bottom: 5px;
}

.order-nav button {
  background-color: #cae0d1;
}

.food-nav {
  background-color: #cae0d1;
}

.ues-nav {
  background-color: #cae0d1;
}